<!-- Login Page Skeleton -->


<!-- Login Section for Login Page. This section includes the form for username/password. This will be underneath the VBIMS title and centered on the page. 
Please see ticket UI11 for more info. -->
<div id="login">
  <form>
    Username: <input type="text" name="username"><br>
    Password: <input type="text" name="password"><br>
    <p>Remember me</p>
    <input type="checkbox" value="Remember Me">
    <input type="submit" value="Login">
  </form>

  <p>
    Need an account? Please reach out to your manager.
  </p>
</div>

<!-- Section for forgot passwords. This hyperlink will send user to the Password Reset page. Please see ticket UI11 for more info. -->
<div id="forgot-password">
  <a href="../forgot-password-page">Forgot Password?</a>
</div>
