<div>
  <br>
  <mat-card>
    <section class="mat-typography">
      <h3>Add a New Product to Inventory</h3>
    </section>
    <mat-divider></mat-divider>
    <br>
    <form [formGroup]="createForm" class="create-form">
      <mat-form-field class="field-full-width" id="name">
        <textarea matInput placeholder="Name" formControlName="name" #name></textarea>
      </mat-form-field>
      <br>
      <mat-form-field class="field-full-width" id="description">
        <textarea matInput placeholder="Description" formControlName="description" #description></textarea>
      </mat-form-field>
      <br>
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Number In Stock" formControlName="numberInStock" #numberInStock>
      </mat-form-field>
      <div class="divider"></div>
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Cost" formControlName="cost" #cost>
      </mat-form-field>
      <div class="divider"></div>
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Supplier" formControlName="supplier" #supplier>
      </mat-form-field>
      <mat-divider></mat-divider>
      <br><br>
      <button mat-raised-button color="accent" routerLink="/productslist">Back</button>&nbsp;
      <button type="submit" (click)="addProduct(name.value, description.value, numberInStock.value, cost.value, supplier.value)" [disabled]="createForm.pristine || createForm.invalid" mat-raised-button color="primary">Save</button>
    </form>
  </mat-card>
</div>