<!--Username info and date/time. This will be located in the top right-hand section of the header. Please see ticket UI15 for more detail. -->
<div id="top-right-header">
  <p>Dynamic Username Here</p>
  <p>Date / Time Here</p>
</div>


<!-- Item Name - title of this page. This will be large fonted on the left-hand side of the screen. Please see ticket UI15 for more detail. -->
<div id="item-name">
  <h1>Dynamic Item Name Here</h1>
</div>


<div id="stock-section">
  <!-- Number in stock paragraph text. Located underneath the title. This section is visible no matter the permissions of the user. 
  Please see ticket UI15 for more detail. -->
  <div id="number-in-stock">
    <p>
      Number in stock: *Dynamic Number Here*
    </p>
  </div>
      
  <!-- Buttons to adjust stock. These buttons will be located right next to the paragraph for number of items left in stock. This feature will only be present
  for users that are signed into Manager or Inventory Specialist roles. Please see ticket UI15 for more detail. -->
  <div id="buttons-to-adjust-stock">
    <button id="plus-one">+1</button>
    <button id="add-many">Add Many</button>
    <button id="minus-one">-1</button>
    <button id="subtract-many">Subtract Many</button>
  </div>
</div>

<!-- Price and Cost comparison pane. This will be available underneath the stock-section. This feature is only available to users that are signed into a 
  Manager role. Please see ticket UI15 for more detail. -->
<div id="price-and-cost">
  <p id="price">
    Total cost in inventory: *Dynamic Number Here*
  </p>
  <p id="cost">
    Total retail price in inventory: *Dynamic Number Here*
  </p>
</div>

