<!-- Home Page Default - Completely Unstyled. Skeleton Completed. -->

<!-- Sign in link, will be in top right of page. See ticket UI4 for more details. -->
<div id="sign-in">
  <a href="../../sign-in-page">Click here to sign in!</a>
</div>

<!-- VBIMS title at top of webpage, will be center of the page. See ticket UI4 for more details. -->
<div id='header'>
  <h1>VBIMS</h1>
  <h3>Virtual Business Inventory Management System</h3>
</div>

<!-- Search bar with enter button and Filter button. Enter button is on the right, Filter button is on the left. 
The search bar will be ceneted underneath the header. See ticket UI4 for more details. -->
<div id="search-bar">
  <button type="menu">Filter</button>
  <input type="text" placeholder="Search...">
  <button type="submit"><i class="fa fa-search"></i></button>
</div>