.search-form {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

.search-bar  {
    display: flex;
    width: 33%;
}

.divider{
    width: 10px;
    height: auto;
    display: inline-block;
}