<div>
  <br>
  <mat-card>
    <form [formGroup]='searchForm' class="search-form">
      <mat-form-field>
        <mat-select placeholder="Filter...">
          <mat-option *ngFor="let filter of filters" [value]="filter.value">
            {{filter.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <input placeholder="Search Inventory By Name" matInput formControlName="search" #search class="search-bar">
      <button mat-raised-button color="primary" (click)="searchByName(search.value)">Search</button>
      <div class="divider"></div>
      <button mat-raised-button color="primary" routerLink="/add" class="add-button">Add New Inventory</button>
    </form>
    
    <br>
    <mat-divider></mat-divider>
    <br>
    <table mat-table [dataSource]="products">
      <ng-container matColumnDef="_id">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">  </td>
      </ng-container>    

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <ng-container matColumnDef="numberInStock">
        <th mat-header-cell *matHeaderCellDef> Number in Stock </th>
        <td mat-cell *matCellDef="let element"> {{element.numberInStock}}</td>
      </ng-container>

      <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef> Cost </th>
        <td mat-cell *matCellDef="let element"> {{element.cost}} </td>
      </ng-container>

      <ng-container matColumnDef="supplier">
        <th mat-header-cell *matHeaderCellDef> Supplier </th>
        <td mat-cell *matCellDef="let element"> {{element.supplier}} <button mat-button color="primary" (click)="editProduct(element._id)">Details</button>  </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card>
</div>