<!-- Home Page for Manager account. Skeleton completed. -->

<!-- Title - please see ticket UI12 for more info. -->
<div id="header" style="text-align:center">
  <h1>VBIMS</h1>
  <h3>Virtual Business Inventory Management System</h3>
</div>

<!-- Search bar with enter button and Filter button. Enter button is on the right, Filter button is on the left. 
The search bar will be ceneted underneath the header. See ticket UI12 for more details. -->
<div id="search-bar">
  <button type="menu">Filter</button>
  <input type="text" placeholder="Search...">
  <button type="submit"><i class="fa fa-search"></i></button>
</div> 

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Alerts<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Add Items</a>
      <a class="nav-item nav-link" href="#">Subtract Items</a>
      <a class="nav-item nav-link disabled" href="#">Account Management</a>
    </div>
  </div>
</nav>

<!-- Query Results, please see ticket UI12 for more info. -->
<p>Query Results will be here once we have established E2E configuration with DB.</p>
