mat-card {
    width: 75%;
    height: 75%;
}
#body {
    display: flex;
    padding-left: 25%;
}

mat-header-cell,
mat-cell {
    column-gap: 10%;
}
.header {
    display: flex;
    justify-content: flex-end;
}

#backButton {
    padding-left: 2%;
    padding-top: 1%;
}

table {
    min-width: 100%;
}


.description {
    padding-left: 2%;
}

.numberInStock {
    padding-left: 1%;
}

.cost {
    padding-left: 2%;
}

.supplier {
    white-space: nowrap;
    padding-left: 2%;
}
